# Python
__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/

# Data + outputs (keep proprietary data out of git)
data/**
outputs/**
*.parquet
*.zip
*.7z

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
